**/*.nc
*.nc
__pycache__
**/*.outTESTSIM/data/MUR
TESTSIM/data/OSTIA
TESTSIM/data/NCCHILE
TESTSIM/data/GLORYS12V1
TESTSIM/data/ZARR
TESTSIM/data/CROCO
SIMSEQUIA/data/DESALADORAS_RUND0_RIOS
SIMSEQUIA/data/DESALADORAS_RUND1_RIOS
SIMSEQUIA/data/DESALADORAS_RUND1
SIMSEQUIA/data/DESALADORAS_RUND0
